<%-include('../../Partials/header.ejs') %>
<%-include('../../Partials/navbar.ejs') %>

<div class="container">
    <br>
  <div class="card">
    <div class="card-header">
      <h2>Editar Artigo</h2>
    </div>
    <div class="card-body">
      <form method="post" action="/articles/Update">
        <input type="hidden" value="<%= article.id%>" name="id">
        <input class="form-control"type="text" name="title" placeholder="Digite o titulo da categoria"   value="<%= article.title %>"/> <br />
          <textarea class="form-control" placeholder=""Escreva seu artigo aqui! name="body" id="article"></textarea><br>
            <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <% if (category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" class="text-dark font-weight-bold "  selected> <%= category.title %></option>
                    <%  }  else { %>
                        <option value="<%= category.id %>" class="text-dark font-weight-bold"> <%= category.title %></option>
                        <% } %>
                    <% }); %>
                </select>
                <br>
        <button class="btn-success">ATUALIZAR</button>
      </form>
    </div>
  </div>
</div>

<div id="content" class="d-none">
    <%- article.body %>
</div>

<%-include('../../Partials/footer.ejs') %>

<!-- importa o tiny -->
<script src="/tinymce/tinymce.min.js"></script>
<!-- configurar o tinyNCE -->
<script>
tinymce.init({
    language:'pt_BR',
    selector: "#article",
    plugins: ['advlist autolink link image lists preview hr searchreplace wordcount table fullscreen insertdatetime media save paste emoticons'],
    init_instance_callback: () =>{
        tinymce.get("article").setContent($("#content").html()); // pegando o conteudo atrave da jequery
    }
});

</script>
