<%-include('../../Partials/header.ejs') %>
<%-include('../../Partials/navbar.ejs') %>
<div class="container">
    <br>
  <div class="card">
    <div class="card-header">
      <h2>Edição de Categorias</h2>
    </div>
    <div class="card-body">
      <form method="post" action="/categories/update">
        <input
          class="form-control"type="text" name="title" placeholder="Digite o titulo da categoria" value="<%= category.title%>"/><br />
          <input type="hidden" name="id" value="<%= category.id %>">
        <button class="btn-success">Atualizar</button>
      </form>
    </div>
  </div>
</div>
<%-include('../../Partials/footer.ejs') %>